{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{%block title%}Blog with thiraphat{%endblock%}</title>

	<!-- include bootstrap4 library -->
	{%load bootstrap4%}

	{% bootstrap_css %}
	{% bootstrap_javascript jquery='full' %}

	<!-- Display django.contrib.messages as bootstrp alert -->
	{%bootstrap_messages%}
	<link rel="stylesheet" type="text/css" href="{%static 'blog.css' %}" />
	<style>
		.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
		}

		@media (min-width: 768px) {
			.bd-placeholder-img-lg {
				font-size: 3.5rem;
			}
		}
	</style>

</head>

<body>
	<header class="mb-3">
		<div class="navbar navbar-dark bg-dark shadow-sm">
			<div class="container">
				<a href="/" class="navbar-brand d-flex align-items-center">
					<strong class="title">THIRAPHAT-DEV BLOG</strong>
				</a>
				<form action="{%url 'post_search'%}" class="d-flex" method="GET">
					<input name="search_keyword" type="text" class="form-control mr-sm-2" placeholder="Search Topic" aria-label='Search'> 
					<button type="submit" class="btn btn-success rounded">Search</button>
				</form>
		</div>
	</header>

	{%block content%}

	{%endblock%}




</body>

</html>