{%extends 'base.html' %}
{%block content%}
<main>

	<div class="container d-flex justify-content-around">
		{% for post in posts.object_list %}
		<div class="row pb-3">
			<div class="col-sm-12">
				<div class="card" style="width: 18rem;">
					{% if post.photo %}
					<img src="{{post.photo.url}}" class="card-img-top" alt="{{post.title}}">
					{%endif%}
					<div class="card-body">
						<h5 class="card-title">{{post.title}}</h5>
						<p class="card-text">{{post.body|safe|truncatechars_html:200}}
						</p>
						<a href="{%url 'post_detail' post.id%}" class="btn btn-primary">View
							Detail</a>

					</div>
				</div>
			</div>
		</div>
		{%endfor%}
		<!-- START THE FEATURETTES -->
		<hr class="featurette-divider">

		<hr class="featurette-divider">
		<!-- /END THE FEATURETTES -->

	</div><!-- /.container -->


	<!-- FOOTER -->
	<footer class="container">
		<ul class="pagination justify-content-center">
			<!-- previous page -->
			{%if posts.has_previous%}
			<li class="page-item">
				<a href="?page={{posts.previous_page_number}}" class="page-link"
					tabindex="-1">Previous</a>
			</li>
			{%endif%}

			<!-- range of page -->
			{%for i in posts.paginator.page_range%}

			{%if posts.number == i%}
			<li class="page-item active">
				<a href="?page={{i}}" class="page-link" aria-current="page">{{i}}</a>
				<span class="sr-only">(current)</span>
			</li>
			{% else %}
			<li class="page-item">
				<a href="?page={{i}}" class="page-link">{{i}}</a>
			</li>


			{%endif%}
			{%endfor%}

			<!-- next and last page -->
			{%if posts.has_next %}
			<li class="page-item">
				<a href="?page={{posts.next_page_number}}" class="page-link">Next</a>
			</li>
			<li class="page-item">
				<a href="?page={{posts.paginator.num_pages}}" class="page-link">LastPage</a>
			</li>
			{%endif%}
		</ul>
		<p class="float-end"><a href="#">Back to top</a></p>
		<!-- <ul>
			<li>
				<a href="https://github.com/Thiraphat-DEV"><i class="fa-brands fa-github-alt"></i></a>
			</li>
			<li>
				<a href="https://www.facebook.com/thiraphat.boat/"><i
						class="fa-brands fa-facebook"></i></a>
			</li>
			<li>
				<a href="https://www.linkedin.com/in/thiraphat-chorakhe-970572211/"><i
						class="fa-brands fa-linkedin"></i></a>
			</li>
		</ul> -->
	</footer>
</main>

{%endblock%}